ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
ul#tabs li {
    display: inline-block;
    background-color: #CCCCCC;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #000000;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #666666;
}
ul#tabs li.active {
    background-color: #333333;
    color: #ffffff;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}