    {% extends "layout.html" %}
    {% block body %}
		{% if session["docking_group"] == "admin" %}
				<h2 class="linha"><i class="fa fa-gears"> Register host</i></h2>
				<form action="register_host" method="POST">
					<div class="form-group">
						<label for="name">Name</label>
						<input id="name" class="form-control" type="text" name="name" />
					</div>
					<div class="form-group">
						<label for="name">IP/Domain</label>
						<input id="ip" class="form-control" type="text" name="ip" />
					</div>
					<div class="form-group">
						<label for="name">Port</label>
						<input id="port" class="form-control" type="text" name="port" />
					</div>
					<div class="form-group">
						<label for="name">Max memory (in GB)</label>
						<input id="max_memory" class="form-control" type="text" name="max_memory" />
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
		{% else %}
			<h2>Restricted area</h2>
		{% endif %}
    {% endblock %}
