    {% extends "layout.html" %}
    {% block body %}
		{% if session["docking_group"] == "admin" %}
				<h2 class="linha"><i class="fa fa-group"> Create team</i></h2>
				<form action="create_team" method="POST">
					<div class="form-group">
						<label for="name">Name</label>
						<input id="name" class="form-control" type="text" name="name" />
					</div>
					<div class="form-group">
						<label for="name">Login</label>
						<input id="login" class="form-control" type="text" name="login" />
					</div>
					<div class="form-group">
						<label for="name">Password</label>
						<input id="pass" class="form-control" type="text" name="pass" />
					</div>
					<div class="form-group">
						<label for="name">Group</label>
						<select name="group" class="form-control">
							<option value="0">Admin</option>
							<option value="1">Developer</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name">Max memory (in GB)</label>
						<input id="max_memory" class="form-control" type="text" name="max_memory" />
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
		{% else %}
			<h2>Restricted area</h2>
		{% endif %}
    {% endblock %}
