{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Cloudfront distributions</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Alias</th>
					</tr>
				</thead>
				<tbody>
					{% for dist in results %}
					<tr>
						<td>
							{{ dist["Id"] }}
						</td>
						<td>
							{{ dist["Aliases"]["Items"][0] }}							
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have distributions!</b></div>
	{% endif %}
{% endblock %}
