{% extends "layout.html" %}
{% block body %}
{% if results %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#ec2table').dataTable();
        $('#ec2table tbody').on('click', 'td', function () {
            $('[data-toggle="tooltip"]').popover({html: true});
        } );
    } );
</script>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"> Listing all EC2 {{ region }}</h3>
	</div>
	<div class="panel-body">
		<table id="ec2table" class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Instance ID</th>
					<th>Type</th>
					<th>Zone</th>
					<th>Private IP</th>
					<th>Public IP</th>
					<th>State</th>
					<th style="display:none;">Tags</th>
				</tr>
			</thead>
			<tbody>
				{% for ec2 in results %}
				<tr>
					<td>
					{% if ec2[8] == None %}
						<i class="fa fa-linux"></i> {{ ec2[0] }}
					{% else %}
						<i class="fa fa-windows"></i> {{ ec2[0] }}
					{% endif %}
					</td>
					<td>{{ ec2[1] }}</td>
					<td>{{ ec2[3] }}</td>
					<td>{{ ec2[5] }}</td>
					<td>{{ ec2[2] }}</td>
					<td>{{ ec2[7] }}</td>
					{% if ec2[4] == "running" %}
					<td><span class="label label-success">{{ ec2[4] }}</span></td>
					{% else %}
					<td><span class="label label-danger">{{ ec2[4] }}</span></td>
					{% endif %}
					<td style="display:none;">
					{% for tag in ec2[6] %}
						{{ tag }}<br>
					{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}
