{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="alert alert-info" role="alert">EC2 current charge <b>USD {{ charge }}</b></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all EC2 - {{ menu[region] }}</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Instance ID</th>
						<th>Type</th>
						<th>Zone</th>
						<th>Private IP</th>
						<th>Public IP</th>
						<th>State</th>
						<th>Actions</th>
						<th style="display:none;">Tags</th>
					</tr>
				</thead>
				<tbody>
					{% for ec2 in results %}
					<tr>
						<td>
						{% if ec2['platform'] == None %}
							<i class="fa fa-linux"></i> {{ atw.returnTagEC2(atw.returnTags(ec2['tags']),"Name") }}
						{% else %}
							<i class="fa fa-windows"></i> {{ atw.returnTagEC2(atw.returnTags(ec2['tags']),"Name") }}
						{% endif %}
						</td>
						<td>{{ ec2['instance_id'] }}</td>
						<td>{{ ec2['instance_type'] }}</td>
						<td>{{ ec2['placement']['AvailabilityZone'] }}</td>
						<td>{{ ec2['private_ip_address'] }}</td>
						<td>{{ ec2['public_ip_address'] }}</td>
						{% if ec2['state']['Name'] == "running" %}
						<td><span class="label label-success">{{ ec2['state']['Name'] }}</span></td>
						{% elif ec2['state']['Name'] == "stopping" %}
						<td><span class="label label-warning">{{ ec2['state']['Name'] }}</span></td>
						{% else %}
						<td><span class="label label-danger">{{ ec2['state']['Name'] }}</span></td>
						{% endif %}
						<td><a id="ec2" href="/ec2info/{{ region }}/{{ ec2['instance_id'] }}"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a> <a id="ec2" href="/ec2charts/{{ region }}/{{ ec2['instance_id'] }}"><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i></a></td>
						<td style="display:none;">
						{% for tag in ec2.tags %}
							{{ tag }}<br>
						{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have instances on this region {{ region }}</b></div>
	{% endif %}
{% endblock %}
