{% extends "layout.html" %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-body">
		EC2 Search by TAG<br><br>
		<form action="ec2SearchTAG" method="POST" class="form-inline">
			<div class="form-group">
				<input id="tagValue" class="form-control" type="text" name="tagValue" />
			</div>
			<div class="form-group">
				<select name="tagKey" class="form-control">
					<option value="Name">Name</option>
					<option value="OS">OS</option>
					<option value="Project">Project</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
</div>		
{% if results %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"> Searching for {{ key }}:{{ value }} <br><br>Total <b>{{ total }}</b> found!</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Instance ID</th>
					<th>Zone</th>
					<th>Type</th>
					<th>Private IP</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				{% for ec2 in results %}
				<tr>
					<td>{{ ec2[0] }}</td>
					<td>{{ ec2[1] }}</td>
					<td>{{ ec2[5] }}</td>
					<td>{{ ec2[3] }}</td>
					<td>{{ ec2[2] }}</td>
					{% if ec2[4] == "running" %}
					<td><span class="label label-success">{{ ec2[4] }}</span></td>
					{% else %}
					<td><span class="label label-danger">{{ ec2[4] }}</span></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}
