{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% if info['platform'] == None %}
	{% if info['state']['Name'] == "running" %}
		<h3 class="panel-title"><i class="fa fa-linux"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h6>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h6>
		<h6>Actions: <a id="ec2" href="/ec2info/{{ region }}/{{ info['id'] }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h6>
	{% else %}
		<h3 class="panel-title"><i class="fa fa-linux"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h6>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h6>
		<h6>Actions: <a id="ec2" href="/ec2info/{{ region }}/{{ info['id'] }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h6>
	{% endif %}
{% else %}
	{% if info['state']['Name'] == "running" %}
		<h3 class="panel-title"><i class="fa fa-windows"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h6>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h6>
		<h6>Actions: <a id="ec2" href="/ec2info/{{ region }}/{{ info['id'] }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h6>
	{% else %}
		<h3 class="panel-title"><i class="fa fa-windows"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h6>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h6>
		<h6>Actions: <a id="ec2" href="/ec2info/{{ region }}/{{ info['id'] }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h6>
	{% endif %}
{% endif %}
<div class="panel panel-default">
	<div class="panel-body">
			<div class="row">
				<div class="col-xs-6">
					{{ cpuChart|safe }}
				</div>
				<div class="col-xs-6">
					{{ networkInChart|safe }}
				</div>			
			</div>
			<br>
			<div class="row">
				<div class="col-xs-6">
					{{ networkOutChart|safe }}
				</div>
				<div class="col-xs-6">
					
				</div>			
			</div>	
	</div>
</div>
{% endblock %}