{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
<script src="/static/js/tabs.js"></script>
<link rel="stylesheet" href="/static/style.css">
{% if info['platform'] == None %}
	{% if info['state']['Name'] == "running" %}
		<h3 class="panel-title"><i class="fa fa-linux"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h5>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h5>
	{% else %}
		<h3 class="panel-title"><i class="fa fa-linux"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-danger">{{ info['state']['Name'] }}</span></h3>
		<h5>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h5>
	{% endif %}
{% else %}
	{% if info['state']['Name'] == "running" %}
		<h3 class="panel-title"><i class="fa fa-windows"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h3>
		<h5>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h5>
	{% else %}
		<h3 class="panel-title"><i class="fa fa-windows"></i> {{ atw.returnTagEC2(atw.returnTags(info['tags']),"Name") }} <span class="label label-danger">{{ info['state']['Name'] }}</span></h3>
		<h5>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }}</h5>
	{% endif %}
{% endif %}
<ul id="tabs">
    <li class="active">CPU</li>
    <li>Network</li>
    &nbsp;&nbsp;&nbsp<a id="ec2" href="/ec2info/{{ region }}/{{ info['id'] }}"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a>
</ul>
<ul id="tab">
    <li class="active">
    	<h4>Last hour (5 minutes period) - Maximum</h4>
		<div class="row">
			<div class="col-xs-6">
				{{ cpuChart|safe }}
			</div>	
		</div>
    </li>
    <li>
    	<h4>Last hour (5 minutes period) - Agerage</h4>
		<div class="row">
			<div class="col-xs-6">
				{{ networkInChart|safe }}
			</div>
			<div class="col-xs-6">
				{{ networkOutChart|safe }}
			</div>
		</div>
    </li>
</ul>
{% endblock %}