{% extends "layout.html" %}
{% block body %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="/static/js/tabs.js"></script>
<link rel="stylesheet" href="/static/style.css">
{% set totalvolstandardPrice = aawt.ebs_price_ondemand("standard",region,totalvolstandard) %}
{% set totalvolgp2Price = aawt.ebs_price_ondemand("gp2",region,totalvolgp2) %}
{% set totalvolio1Price = aawt.ebs_price_ondemand("io1",region,totalvolio1) %}
{% if info['platform'] == None %}
	{% set priceHour = aawt.ec2_price_ondemand(info['instance_type'],region,"Linux") %}
	{% if info['state']['Name'] == "running" %}
		<h2 class="panel-title"><i class="fa fa-linux"></i> {{ aawt.returnTagEC2(aawt.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }} </span></h2>
	{% else %}
		<h2 class="panel-title"><i class="fa fa-linux"></i> {{ aawt.returnTagEC2(aawt.returnTags(info['tags']),"Name") }} <span class="label label-danger">{{ info['state']['Name'] }}</span></h2>
	{% endif %}
{% else %}
	{% set priceHour = aawt.ec2_price_ondemand(info['instance_type'],region,"Windows") %}
	{% if info['state']['Name'] == "running" %}
		<h2 class="panel-title"><i class="fa fa-windows"></i> {{ aawt.returnTagEC2(aawt.returnTags(info['tags']),"Name") }} <span class="label label-success">{{ info['state']['Name'] }}</span></h2>
	{% else %}
		<h2 class="panel-title"><i class="fa fa-windows"></i> {{ aawt.returnTagEC2(aawt.returnTags(info['tags']),"Name") }} <span class="label label-danger">{{ info['state']['Name'] }}</span></h2>
	{% endif %}
{% endif %}
<h5>Launched at {{ info['launch_time'].strftime('%d/%m/%Y %H:%M:%S') }} - {{ menu[region] }}&nbsp;&nbsp;&nbsp;<a id="ec2" href="/ec2charts/{{ region }}/{{ info['id'] }}"><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i> Charts</a></h5>
<ul id="tabs">
    <li class="active">Info</li>
    <li>Tags</li>
    <li>Security Groups</li>
    <li>Network</li>
    <li>Disks</li>
    <li>Console output</li>
</ul>
<ul id="tab">
    <li class="active">
    	<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Instance ID</h3>
					</div>
					<div class="panel-body">
					{{ info['instance_id'] }}
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Image ID</h3>
					</div>
					<div class="panel-body">
					{{ info['image_id'] }}
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Type</h3>
					</div>
					<div class="panel-body">
					{{ info['instance_type'] }}
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Hypervisor</h3>
					</div>
					<div class="panel-body">
					{{ info['hypervisor'] }}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Key pair</h3>
			</div>
			<div class="panel-body">
				{{ info['key_pair']['name'] }}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Instance price OnDemand</h3>
			</div>
			<div class="panel-body">
				{% if priceHour == None %}
					This instance type is deprecated, consult the price on https://calculator.s3.amazonaws.com/index.html.
				{% else %}
					USD {{ priceHour }}/hour<br>
					USD {{ priceHour*hours }}/month
				{% endif %}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total price OnDemand (EC2+EBS)</h3>
			</div>
			<div class="panel-body">
				{% if priceHour == None %}
					This instance type is deprecated, consult the price on https://calculator.s3.amazonaws.com/index.html.
				{% else %}
					USD {{ ((priceHour*hours)+totalvolstandardPrice+totalvolgp2Price+totalvolio1Price) }}/month
				{% endif %}
			</div>
		</div>				
    </li>
    <li> <!-- Tags -->
    	<h3> 
        {% for tag in info.tags %}
			<span class="label label-primary">#{{ tag['Key'] }} : {{ tag['Value'] }}</span>&nbsp;
		{% endfor %}
		</h3>
    </li>
    <li> <!-- Security Groups -->
    	{% for sg in info.security_groups %}
    		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{ sg['GroupName'] }} ({{ sg['GroupId'] }})</h3>
			  </div>
			  <div class="panel-body">
		    	<div class="row">
					<div class="col-xs-6">
					  	<h3>Inbound</h3>
						<table class="table">
							<thead>
								<tr>
									<th>Protocol</th>
									<th>Port</th>
									<th>Source</th>
								</tr>
							</thead>
							<tbody>
								{% for sgInfoIn in aawt.sg_info(region,sg['GroupId']).ip_permissions %}
									<tr>
										<td>{{ sgInfoIn['IpProtocol'] }}</td>
										<td>{{ sgInfoIn['ToPort'] }}</td>
										<td>
										{% for cidrIn in sgInfoIn['IpRanges'] %}
											{{ cidrIn['CidrIp'] }}<br>
										{% endfor %}
										</td>
									</tr>
				    			{% endfor %}
					    	</tbody>
					    </table>
					</div>
					<div class="col-xs-6">
					  	<h3>Outbound</h3>
						<table class="table">
							<thead>
								<tr>
									<th>Protocol</th>
									<th>Port</th>
									<th>Destination</th>
								</tr>
							</thead>
							<tbody>
								{% for sgInfoOut in aawt.sg_info(region,sg['GroupId']).ip_permissions_egress %}
									<tr>
										<td>{{ sgInfoOut['IpProtocol'] }}</td>
										<td>{{ sgInfoOut['ToPort'] }}</td>
										<td>
										{% for cidrOut in sgInfoOut['IpRanges'] %}
											{{ cidrOut['CidrIp'] }}<br>
										{% endfor %}
										</td>
									</tr>
				    			{% endfor %}
					    	</tbody>
					    </table>
					</div>
				</div>
			  </div>
			</div>
    	{% endfor %}
    </li>
    <li> <!-- Network -->
    	<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Public IP</h3>
					</div>
					<div class="panel-body">
					{{ info['public_ip_address'] }}
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Private IP</h3>
					</div>
					<div class="panel-body">
					{{ info['private_ip_address'] }}
					</div>
				</div>
			</div>
		</div>
    	<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Public Adress</h3>
					</div>
					<div class="panel-body">
					{% if info['public_dns_name'] == "" %}
						n/a
					{% else %}
						{{ info['public_dns_name'] }}
					{% endif %}
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Private Adress</h3>
					</div>
					<div class="panel-body">
					{{ info['private_dns_name'] }}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">VPC ID</h3>
			</div>
			<div class="panel-body">
				{{ info['vpc']['vpc_id'] }}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Subnet</h3>
			</div>
			<div class="panel-body">
			{{ info['subnet_id'] }}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Network interfaces</h3>
			</div>
			<div class="panel-body">
				{% for inet in info['network_interfaces'] %}
					{{ inet.id }}
				{% endfor %}
			</div>
		</div>
    </li>
    <li> <!-- Disks -->
		<div class="row">
			<div class="col-md-4"><div class="alert alert-info" role="alert"><b>Total EBS Standard {{ totalvolstandard }} GB<br>USD {{ totalvolstandardPrice }}/month</b></div></div>
			<div class="col-md-4"><div class="alert alert-info" role="alert"><b>Total EBS GP2 {{ totalvolgp2 }} GB<br>USD {{ totalvolgp2Price }}/month</b></div></div>
			<div class="col-md-4"><div class="alert alert-info" role="alert"><b>Total EBS IO1 {{ totalvolio1 }} GB<br>USD {{ totalvolio1Price }}/month </b></div></div>
		</div>
    	<div class="alert alert-info" role="alert"><b>Total EBS {{ totalvol }} GB<br>USD {{ totalvolstandardPrice+totalvolgp2Price+totalvolio1Price }}/month</b></div>
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Volume ID</th>
							<th>Device</th>
							<th>Zone</th>
							<th>Type</th>
							<th>Size</th>
							<th>Cost</th>
						</tr>
					</thead>
					<tbody>
						{% for vol in info.volumes.all() %}
							<tr>
								<td>{{ vol['id'] }}</td>
								<td>{{ vol['attachments'][0]['Device'] }}</td>
								<td>{{ vol['availability_zone'] }}</td>
								<td>{{ vol['volume_type'] }}</td>
								<td>{{ vol['size'] }} GB</td>
								<td>USD {{ aawt.ebs_price_ondemand(vol['volume_type'],region,vol['size']) }}/month</td>
							</tr>
							
		    			{% endfor %}
			    	</tbody>
			    </table>
    		</div>
    	</div>    
    </li>
    <li> <!-- Console Output -->
		<div class="panel panel-default">
			<div class="panel-body">
    			{% for line in info.console_output()['Output'].split("\n") %}
    				{{ line }}<br>
    			{% endfor %}
    		</div>
    	</div>
    </li>
</ul>
{% endblock %}