{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="alert alert-info" role="alert"><b>Total EC2 reserved {{ total }}</b></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all ec2 reserved [{{ region }}]</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Reserved type</th>
						<th>Type</th>
						<th>Zone</th>
						<th>Start</th>
						<th>End</th>
						<th>Count</th>
						<th>Description</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
					{% for ec2r in results %}
					<tr>
						<td>{{ ec2r['ReservedInstancesId'].split("-")[0] }}</td>
						<td>{{ ec2r['OfferingType'] }}</td>
						<td>{{ ec2r['InstanceType'] }}</td>
						<td>{{ ec2r['AvailabilityZone'] }}</td>
						<td>{{ ec2r['Start'].strftime("%d/%m/%Y") }}</td>
						<td>{{ ec2r['End'].strftime("%d/%m/%Y") }}</td>
						<td>{{ ec2r['InstanceCount'] }}</td>
						<td>{{ ec2r['ProductDescription'] }}</td>
						<td><span class="label label-success">{{ ec2r['State'] }}</span></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have reserved instances on this region {{ region }}</b></div>
	{% endif %}
{% endblock %}
