{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all ELB [{{ region }}]</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>Scheme</th>
						<th>Name</th>
						<th>Members</th>
						<th>DNS</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for elb in results %}
					<tr>
						<td><i class="fa fa-map-signs"></i> {{ elb['Scheme'] }}</td>
						<td>{{ elb['LoadBalancerName'] }}</td>
						<td>
						{% for instance in elb['Instances'] %}
							{% if atw.returnTagEC2(atw.returnTags(atw.ec2_info(region,instance['InstanceId'],"")['tags']),"Name") != "" %}
								<a id="ec2" href="/ec2info/{{ region }}/{{ instance['InstanceId'] }}">{{ atw.returnTagEC2(atw.returnTags(atw.ec2_info(region,instance['InstanceId'],"")['tags']),"Name") }}</a><br>
							{% else %}
								<a id="ec2" href="/ec2info/{{ region }}/{{ instance['InstanceId'] }}">{{ instance['InstanceId'] }}</a><br>
							{% endif %}
						{% endfor %}
						</td>
	          			<td>{{ elb['DNSName'] }}</td>
	          			<td><a id="ec2" href="/elbcharts/{{ region }}/{{ elb['LoadBalancerName'] }}"><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have load balancers on this region {{ region }}</b></div>
	{% endif %}
{% endblock %}