{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all users</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Access key</th>
					</tr>
				</thead>
				<tbody>
					{% for iam in results %}
					<tr>
						<td><i class="fa fa-user"></i> {{ iam[0] }}</td>
						<td>
						{% if iam[1] %}
							{% for ikey in iam[1] %}
								{{ ikey }}<br>
							{% endfor %}
						{% else %}
							user without key!
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have users!</b></div>
	{% endif %}
{% endblock %}
