<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AWS Tool Web (ATW)</title>

    <!-- Bootstrap core CSS -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.close').click(function(){
               $(".close").hide(); 
               $(".alert").hide(); 
            });
        })
    </script>
    <link href="{{ url_for('static', filename='bs/css/bootstrap.css') }}" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><i class="fa fa-cubes"></i> AWS Tool Web (ATW)</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
<div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cube"></i> EC2 Search by IP</h3>
                </div>
                <div class="panel-body">
                    <form action="ec2_searchByIP" method="POST">
                        <div class="form-group">
                            <input id="ip" class="form-control" type="text" name="ip" />
                        </div>
                        <div class="form-group">
                            <select name="iptype" class="form-control">
                                <option value="public">Public</option>
                                <option value="private">Private</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cube"></i> EC2 Search by Tag</h3>
                </div>
                <div class="panel-body">
                    <form action="ec2_searchByTAG" method="POST">
                        <div class="form-group">
                            <input id="tagValue" class="form-control" type="text" name="tagValue" />
                        </div>
                        <div class="form-group">
                            <select name="tagKey" class="form-control">
                                <option value="Name">Name</option>
                                <option value="OS">OS</option>
                                <option value="Project">Project</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      {% block body %}{% endblock %}
      </div>
    </div>
	<div align="center"><a href="http://github.com/nopp/atw">code</a></div>
	<br>
  </body>
</html>
