<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Docking - Docker manager web</title>

    <!-- Bootstrap core CSS -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.close').click(function(){
               $(".close").hide(); 
               $(".alert").hide(); 
            });
        })
    </script>
    <link href="/static/bs/css/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><i class="fa fa-cubes"></i> DOCKING</a>
        </div>
        <div class="navbar-collapse collapse">
			{% if session["docking_group"] == "view" %}
					<!-- view menu -->
				   <ul class="nav navbar-nav">
					<li><a href="/register"><i class="fa fa-cube fa-lg"> Create container</i></a></li>
				  </ul>
			{% else %}
					<!-- admin menu -->
				   <ul class="nav navbar-nav">
					<li><a href="/rh"><i class="fa fa-gears fa-lg"> Register host</i></a></li>
					<li><a href="/ct"><i class="fa fa-group fa-lg"> Create team</i></a></li>
				  </ul>
			{% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users"><i class="fa fa-user fa-lg"></i> <b>{{ session["docking_auth"] }}</b></a></li>
            <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
	  {% with messages = get_flashed_messages() %}
         {% if messages %}
			<br>
			<div class="alert alert-info alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
                {% for message in messages %}
               		{{ message }}
                {% endfor %}
            </div>
         {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>
