{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all RDS [{{ region }}]</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>DBName</th>
						<th>Engine</th>
						<th>Master username</th>
						<th>Endpoint</th>
						<th>Port</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
					{% for rds in results %}
					<tr>
						<td><i class="fa fa-database"></i> {{ rds[0] }}</td>
						<td>{{ rds[1] }}</td>
	                    <td>{{ rds[2] }}</td>
						<td>{{ rds[3] }}</td>
						<td>{{ rds[4] }}</td>
	                    {% if rds[5] == "available" %}
	                    <td><span class="label label-success">{{ rds[5] }}</span></td>
	                    {% else %}
	                    <td><span class="label label-danger">{{ rds[5] }}</span></td>
	                    {% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have RDS on this region {{ region }}</b></div>
	{% endif %}
{% endblock %}
