{% extends "layout.html" %}
{% block body %}
	{% if results %}
	<script type="text/javascript" class="init">
	    $(document).ready(function() {
	        $('#ec2table').dataTable();
	        $('#ec2table tbody').on('click', 'td', function () {
	            $('[data-toggle="tooltip"]').popover({html: true});
	        } );
	    } );
	</script>
	<div class="alert alert-info" role="alert">RDS current charge <b>USD {{ charge }}</b></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Listing all RDS - {{ menu[region] }}</h3>
		</div>
		<div class="panel-body">
			<table id="ec2table" class="table table-striped">
				<thead>
					<tr>
						<th>DBName</th>
						<th>Type</th>
						<th>Master user</th>
						<th>Endpoint</th>
						<th>Size</th>
						<th>State</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for rds in results %}
						{% if rds['DBInstanceStatus'] != "available" %}
						<tr>
							<td><i class="fa fa-database"></i> {{ rds['DBName'] }}<br>Engine {{ rds['Engine'] }}</td>
							<td>
								{{ rds['DBInstanceClass'] }}
							</td>
							<td>{{ rds['MasterUsername'] }}</td>
							<td>Not available yet!</td>
							<td>{{ rds['AllocatedStorage'] }} GB</td>
							<td><span class="label label-danger">{{ rds['DBInstanceStatus'] }}</span></td>
							<td><a id="ec2" href="/rdscharts/{{ region }}/{{ rds['DBInstanceIdentifier'] }}"><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i></a></td>
						</tr>
						{% else %}
						<tr>
							<td><i class="fa fa-database"></i> {{ rds['DBName'] }}<br>Engine {{ rds['Engine'] }}</td>
							<td>
								{{ rds['DBInstanceClass'] }}
							</td>
							<td>{{ rds['MasterUsername'] }}</td>
							<td>{{ rds['Endpoint']['Address'] }}<br>Port {{ rds['Endpoint']['Port'] }}</td>
							<td>{{ rds['AllocatedStorage'] }} GB</td>
							<td><span class="label label-success">{{ rds['DBInstanceStatus'] }}</span></td>
							<td><a id="ec2" href="/rdscharts/{{ region }}/{{ rds['DBInstanceIdentifier'] }}"><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i></a></td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert"><b>Doesn't have RDS on this region {{ region }}</b></div>
	{% endif %}
{% endblock %}
